---
import Layout from "../layouts/BaseLayoutLower.astro";
import { getBlogs, getBlogDetail } from "../library/microcms";

// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"], limit: 100 });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<Layout title="My first blog with Astro">
  <main>
    <div class="wrapper">
        <h1 class="title">{blog.title}</h1>
    </div>
    <div class="bg">
        <div class="wrapper">
        <div class="content" set:html={blog.content}></div>
        <div class="description" set:html={blog.codeArea}></div>

        </div>
    </div>
  </main>
</Layout>

<style>
  main {
    color: black;
  }

  h1 {
    margin-block: 100px;
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  .bg {
    padding-block: 80px;
    background-color: #fff;
    border-radius: 50px;
  }

  .wrapper {
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 20px;
  }

  .content {
    margin-bottom: 80px;

    p {
      line-height: 1.75;
      text-decoration: underline;
      text-decoration-color: #ccc;
      text-underline-offset: 5px;
    }
  }
  pre {
    margin-top: 2em;
    padding: 1em;
    color: #fff;
    background-color: #333;
    border-radius: 1em;
    user-select: none;
  }
  div[data-filename] {
    position: relative;
    overflow: hidden;
  }
  div[data-filename]::after {
    content: attr(data-filename);
    display: block;
    padding: 0.5em 1em;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}
</style>
