.section-page-top h2::before {
  content: "Production";
}
.section-page-top .section-inner {
  margin-bottom: 80px;
}
#text-circle {
  width: 200px;
  font-family: var(--font-c);
  fill: var(--font-color);
  margin: 0 auto;
}
/* 制作物一覧ページ */
.production-scroll {
  margin: 0 auto;
  position: relative;
  width: 200px;
}
.skew-circle {
  transform: translateX(-4px) scaleY(1.1) skew(10deg, 10deg);
}
.skew-circle img {
  animation: spin 20s linear 0s infinite normal forwards;
}
@keyframes spin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.scroll-arrow {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: arrowmove 1s ease-in-out infinite;
}
.production-scroll span {
  display: inline-block;
  width: 1px;
  height: 64px;
  background: var(--border-color);
}
.production-scroll span::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--border-color);
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  position: absolute;
  left: 50%;
  bottom: 6px;
}
@keyframes arrowmove {
  0% {
    top: 51%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 51%;
  }
}
.section-production__list-title {
  margin-bottom: 24px;
}
.section-production__list-title span {
  font-size: clamp(1.4rem, 1.757vw, 2.4rem);
  margin-left: 8px;
}
.section-production__slider-wrapper .section-production__category,
.section-production__summary,
.section-production__description ul li:not(:last-of-type) {
  margin-bottom: 40px;
}
.section-production__summary,
.section-production__description ul {
  font-size: clamp(1.6rem, 1.464vw, 2rem);
  margin-bottom: 40px;
}
.appear-container {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.appear-visual {
  text-align: center;
  height: max(42.825vw, 304px);
  aspect-ratio: 281.5 /583.5;
  margin: 0 auto;
  background-image: url(../images/appear-sp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.appear-visual.slider1 {
  background-image: url(../images/sugutabe-sp.png);
}
.appear-visual.slider2 {
  background-image: url(../images/fika-sp.png);
}
.appear-visual.slider3 {
  background-image: url(../images/portfolio-sp.png);
}
.appear-visual.slider4 {
  background-image: url(../images/shirokuma-sp.png);
}
.appear-visual.slider5 {
  background-image: url(../images/flower.png);
}
.appear-visual.slider6 {
  background-image: url(../images/map-sp.png);
}
.slider-container {
  display: flex;
  padding-bottom: 50vh;
  margin-bottom: 80px;
  overflow-x: hidden;
}
.section-production__slider {
  width: 50%;
}
.appear-title {
  height: 100vh;
}
.section-production__slider-wrapper {
  height: 50vh;
}
.appear-title {
  position: relative;
}
.appear-title-wrapper {
  width: 50%;
  position: fixed;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.appear-title-wrapper.fixed {
  opacity: 1;
  right: 10%;
}
#appear-main-title {
  font-size: clamp(4rem, 5.271vw, 7.2rem);
  color: var(--sub-color);
  font-family: var(--font-n);
  width: fit-content;
  margin: 0 auto;
}
.appear-title h2::before {
  content: "";
  display: inline-block;
  background: url(../images/texture01.jpg), linear-gradient(349deg, var(--font-color), var(--main-color));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  border-radius: 50%;
  width: clamp(120px, 17.936vw, 180px);
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  z-index: -1;
}
.scrolldown {
  position: relative;
  height: 50px;
  width: 150px;
  margin: 56px auto 0 auto;
}
.scrolldown span {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.2rem;
  color: var(--base-sub-color);
  font-family: var(--font-t);
}
.scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 130px;
  background: var(--base-sub-color);
  animation: pathmove 1.8s ease-in-out infinite;
  opacity: 0;
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}
.section-production__description {
  width: 36.603vw;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: -100%;
  transform: translateY(-50%);
  transition: opacity 0.5s;
}
#slider1.appear .section-production__description,
#slider2.appear .section-production__description,
#slider3.appear .section-production__description,
#slider4.appear .section-production__description,
#slider5.appear .section-production__description,
#slider6.appear .section-production__description {
  opacity: 1;
  visibility: visible;
  top: 50%;
  right: 10%;
}
.triangle-item {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.triangle-item.appear {
  opacity: 1 !important;
  visibility: visible !important;
}
#triangle1 {
  top: 5.857vw;
  left: 2vw;
}
#triangle2 {
  top: calc(50% - 5.857vw);
  left: 4.026vw;
}
#triangle3 {
  bottom: 5.857vw;
  left: 2.562vw;
}
#triangle4 {
  top: 5.857vw;
  right: 3.294vw;
}
#triangle5 {
  top: calc(50% - 5.857vw);
  right: 0;
}
#triangle6 {
  bottom: 5.857vw;
  right: 2.928vw;
}
#triangle1 svg {
  width: max(82px, 11.854vw);
  height: max(100px, 14.042vw);
}
#triangle2 svg {
  width: max(52px, 8.332vw);
  height: max(66px, 8.168vw);
}
#triangle3 svg {
  width: max(72px, 12.556vw);
  height: max(92px, 12.861vw);
}
#triangle4 svg {
  width: max(58px, 8.503vw);
  height: max(48px, 8.503vw);
}
#triangle5 svg {
  width: max(78px, 13.492vw);
  height: max(96px, 13.588vw);
}
#triangle6 svg {
  width: max(60px, 10.552vw);
  height: max(92px, 12.169vw);
}
.triangle-img {
  fill: url(#linear-gradient);
}
.triangle-img.gradient1 {
  fill: url(#linear-gradient1);
}
.triangle-img.gradient2 {
  fill: url(#linear-gradient2);
}
.triangle-img.gradient3 {
  fill: url(#linear-gradient3);
}
.triangle-img.gradient4 {
  fill: url(#linear-gradient4);
}
.triangle-img.gradient5 {
  fill: url(#linear-gradient5);
}
.triangle-img.gradient6 {
  fill: url(#linear-gradient6);
}
/* 制作物詳細ページ */
.section-production-detail {
  padding-bottom: 80px;
}
.section-production-detail .section-production-detail__info {
  padding: 0 80px 80px;
  background-repeat: no-repeat;
  background-size: 67%;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 100px;
}
.section-production-detail__description + img {
  border: 1px solid var(--main-color);
}
.section-production-detail .section-production__description-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 56px;
}
.section-production-detail h2 {
  font-size: 3.2rem;
  font-family: var(--font-n);
}
.section-production-detail__info p {
  font-size: clamp(1.6rem, 1.464vw, 2rem);
}
.section-production-detail .section-production__image {
  max-width: 620px;
  margin: 0 auto;
}
.section-production-detail__design li img {
  border: 1px solid var(--base-color);
}
.section-production-detail__description h3 {
  font-size: clamp(2.4rem, 2.343vw, 3.2rem);
  width: fit-content;
  color: var(--white-color);
  padding: 6px 4px;
  background-color: var(--font-color);
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 24px;
}
.section-production-detail__description h4 {
  font-size: clamp(2rem, 1.757vw, 2.4rem);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
.section-production-detail__description h4 + ul {
  padding-left: calc(clamp(2rem, 1.757vw, 2.4rem) + 8px);
}
.section-production-detail__description h4::before {
  content: "";
  display: inline-block;
  width: clamp(16px, 1.464vw, 20px);
  height: clamp(16px, 1.464vw, 20px);
  background: url(../images/texture01.jpg), linear-gradient(349deg, var(--font-color), var(--main-color));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  border-radius: 50%;
}
.section-production-detail__description > li {
  background-color: var(--white-color);
  margin-bottom: 80px;
  padding: 40px 32px;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000029;
}
.section-production-detail__description h3 + ul > li:not(:last-of-type) {
  margin-bottom: 32px;
}
.section-production-detail__description h4 + ul li {
  display: flex;
  font-size: clamp(1.6rem, 1.464vw, 2rem);
  margin-bottom: 16px;
}
.section-production-detail__description h4 + ul li::before {
  content: "・";
}
.detail-list-parent {
  flex-wrap: wrap;
}
.detail-list {
  width: 100%;
  padding-left: 16px;
}
.section-production__btn {
  display: block;
  width: 240px;
  padding: 12px 0;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 2rem;
  line-height: 1;
  font-family: var(--font-c);
  position: relative;
  margin: 0 auto;
  background-image: url(../images/bg-01.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: left bottom 20%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: inset 2px 2px 7px rgb(175 165 165 / 40%), 3px 3px 5px rgb(175 165 165 / 15%);
  transition: 0.3s;
}
.section-production__btn:hover {
  box-shadow: inset 2px 2px 7px rgb(175 165 165 / 40%), 3px 3px 5px rgba(177, 175, 170, 0.8);
  transform: translateY(-2px);
}
.section-production__btn::before,
.section-production__btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
  margin-right: 16px;
}
.section-production__btn::before {
  right: 0;
  width: 24px;
  height: 1px;
  background: var(--border-color);
  border-radius: 2px;
}
.section-production__btn::after {
  right: 1px;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--border-color);
  transform: rotate(20deg);
  top: 5.3px;
}
.section-production__btn:hover::before {
  transform: translateX(2px);
}
.section-production__btn:hover::after {
  right: -1px;
}
.production-link {
  padding: 80px 0;
  margin-bottom: 24px;
  background-color: var(--main-color);
  background-size: 100%;
  background-position: top center;
  transition: 1s;
}
.production-link h2 {
  margin-bottom: 32px;
}
.production-link ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  visibility: hidden;
}
.production-link ul li {
  width: calc((100% - 80px) / 3);
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: inset 2px 2px 7px rgb(175 165 165 / 40%), 3px 3px 5px rgb(175 165 165 / 15%);
  visibility: visible;
  position: relative;
}
.production-link ul li a {
  padding: 24px 40px;
}
.production-link ul li a img {
  transition: 0.3s;
}
.production-link ul li:hover img {
  scale: 1.1;
}
.production-link ul li:hover {
  opacity: 0.8;
}
.production-link ul li::before {
  opacity: 0;
  visibility: hidden;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.production-link ul:hover li:not(:hover):before {
  opacity: 1;
  visibility: visible;
}
@keyframes gradation {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
@media (orientation: portrait) and (max-width: 1023px) {
  /* 制作物一覧ページ */
  .slider-container {
    flex-direction: column;
  }
  .section-production__slider,
  .section-production__description,
  .appear-title-wrapper {
    width: 100%;
  }
  #slider1.appear .section-production__description,
  #slider2.appear .section-production__description,
  #slider3.appear .section-production__description,
  #slider4.appear .section-production__description,
  #slider5.appear .section-production__description,
  #slider6.appear .section-production__description {
    top: 0;
    left: 0;
    transform: none;
    height: 100vh;
    padding-top: calc(64.756% + 40px);
  }
  .appear-title-wrapper {
    top: 0;
    transform: none;
    height: 100vh;
    padding-top: calc(64.756% + 80px);
  }
  .appear-container {
    position: absolute;
    height: 50svh;
    height: 50vh;
    width: 100%;
  }
  #appear-main-title {
    justify-content: center;
  }
  .appear-title h2::before {
    left: 50%;
  }
  .scrolldown {
    margin: 100px auto 0 auto;
  }
  #triangle5 {
    top: calc(40% - 5.857vw);
  }
  .appear-title-wrapper.fixed {
    right: 0;
  }
  .section-production__description h2 {
    text-align: center;
  }
  .section-production__category {
    justify-content: center;
  }
  .section-production__summary,
  .section-production__description ul {
    width: min(90%, 600px);
    margin: 0 auto 24px auto;
  }
  .section-production__slider-wrapper .section-production__category,
  .section-production__summary {
    margin-bottom: 24px;
  }
  .appear-visual {
    height: 90%;
  }
  #triangle1 {
    left: 16vw;
  }
  #triangle2 {
    left: 20vw;
  }
  #triangle3 {
    left: 16vw;
  }
  #triangle4 {
    right: 20vw;
  }
  #triangle5 {
    right: 12vw;
  }
  #triangle6 {
    right: 15vw;
  }
}
@media not screen and (min-width: 1024px) {
  /* 制作物詳細ページ */
  .section-page-top .section-production-detail_main-title {
    margin-bottom: 0;
  }
  .section-production-detail .section-production__description-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-production-detail .section-production-detail__info {
    padding: 0;
    margin-bottom: 48px;
    background-size: 100%;
  }
  .section-production-detail__description h3 {
    line-height: 1.4;
  }
  .section-production-detail__description > li {
    padding: 40px 16px;
    margin-bottom: 40px;
  }
  .section-production-detail__description {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 768px) {
  .section-production__description ul li {
    display: none;
  }
}
@media not screen and (min-width: 600px) {
  #triangle1 {
    left: 6vw;
  }
  #triangle2 {
    left: 12vw;
  }
  #triangle3 {
    left: 8vw;
  }
  #triangle4 {
    right: 10vw;
  }
  #triangle5 {
    right: 4vw;
  }
  #triangle6 {
    right: 6vw;
  }
  .appear-visual {
    height: 80%;
  }
  #slider1.appear .section-production__description,
  #slider2.appear .section-production__description,
  #slider3.appear .section-production__description,
  #slider4.appear .section-production__description,
  #slider5.appear .section-production__description,
  #slider6.appear .section-production__description {
    top: 0;
    left: 0;
    transform: none;
    padding-top: 50vh;
  }
  .appear-title-wrapper {
    transform: none;
    padding-top: calc(100% + 60px);
    height: 100vh;
  }
  .slider-container {
    margin-bottom: 20px;
  }
  .production-footer {
    padding-bottom: 0;
  }
  .production-link ul {
    flex-direction: column;
    justify-content: center;
  }
  .production-link ul li {
    width: 100%;
  }
}
@media not screen and (min-width: 375px) {
  .appear-container {
    height: 40svh;
    height: 40vh;
  }
  #slider1.appear .section-production__description,
  #slider2.appear .section-production__description,
  #slider3.appear .section-production__description,
  #slider4.appear .section-production__description,
  #slider5.appear .section-production__description,
  #slider6.appear .section-production__description {
    padding-top: 40vh;
  }
}
@media (prefers-color-scheme: dark) {
  .section-production__category span {
    background-color: var(--base-sub-color);
  }
  .section-production-detail__description > li {
    background-color: var(--base-sub-color);
  }
  .section-production-detail__description h3 {
    color: var(--base-sub-color);
  }
  .section-production__btn {
    background-image: url(../images/bg-dark-01.jpg);
  }
  .appear-title h2::before {
    background: url(../images/texture01.jpg), linear-gradient(349deg, var(--base-sub-color), var(--main-color));
  }
  .scrolldown::after {
    background-color: var(--border-color);
  }
}

.production-video {
  background-image: url(../images/video-back.png);
  aspect-ratio: 1137/653;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
video {
  width: 78%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 16/9;
}
.production-pdf {
  margin-bottom: 80px;
  font-size: clamp(1.6rem, 1.464vw, 2rem);
}
.production-pdf img {
  border: 1px solid var(--border-color);
}
