.section-page-top h2::before {
  content: "Contact";
}
.contact-inner {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}
.form {
  padding-bottom: 80px;
}
.c-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.c-form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-form__label {
  font-size: 1.6rem;
}
.c-form__label,
.c-form__input {
  padding: 8px 10px;
  font-family: var(--font-n);
}
.c-form__input {
  width: 72.727%;
  font-size: 16px;
  border: solid 1px var(--border-color);
  border-radius: 4px;
}
.c-form__required {
  color: var(--white-sub-color);
  border-radius: 4px;
  padding: 5px 5px;
  margin: 0 0 0 18px;
}
textarea.c-form__input {
  height: 160px;
}
.c-form__submit {
  text-align: center;
}
.c-form__submit button {
  font-size: 1.6rem;
  font-family: var(--font-n);
  color: var(--white-sub-color);
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 10px 0;
  width: 72.727%;
  transition: 0.4s;
  cursor: pointer;
  border: none;
}
::placeholder {
  color: var(--border-color);
}
.section-btn {
  margin: 100px auto 0 auto;
}
.check {
  text-align: center;
}
.check a {
  display: inline-block;
  margin-left: 8px;
  border-bottom: 1px solid var(--border-color);
}
@media not screen and (min-width: 600px) {
  .c-form__item {
    flex-direction: column;
    gap: 8px;
  }
  .c-form__label {
    padding: 0;
  }
  .c-form__input {
    width: 100%;
  }
  .c-form {
    gap: 40px;
  }
}
@media (prefers-color-scheme: dark) {
  .c-form__input {
    border: 1px solid var(--white-color);
  }
  .c-form__submit button {
    background-color: var(--border-color);
  }
  ::placeholder {
    color: var(--white-color);
  }
}
