.section-page-top h2::before {
  content: "Privacy Policy";
}
.pp-list {
  margin-bottom: 56px;
}
.pp-list ul {
  padding-top: 24px;
}
.pp-list ul li::before {
  content: "・";
}
.pp-list h2 {
  font-size: 2rem;
  border-bottom: 1px solid var(--border-color);
  width: fit-content;
  margin-bottom: 10px;
}
