/* Main visual */
#section-top {
  height: 100vh;
  height: 100svh;
  position: relative;
}
#section-top img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.section-top__copy {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#section-top h2 {
  font-family: var(--font-c);
  letter-spacing: 1.2rem;
  font-size: 13.177vw;
  background-image: url(../images/bg-01.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: left top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradation 10s infinite alternate;
  text-transform: uppercase;
}
#section-top h2 span {
  display: block;
}
@keyframes gradation {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.section-top__animation {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: max(43.924vw, 200px);
  height: max(13.177vw, 60px);
  transform: rotate(-5deg);
  display: none;
}
#mask,
#mask image {
  width: 100%;
  height: 100%;
}
#mask .st0 {
  fill: none;
  stroke: #fff;
  stroke-width: 30;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.scrolldown {
  position: absolute;
  height: 50px;
  width: 150px;
  margin: 56px auto 0 auto;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 130px;
  background: var(--base-sub-color);
  animation: pathmove 1.8s ease-in-out infinite;
  opacity: 0;
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 60px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 100px;
    opacity: 0;
  }
}
/* 私について */
#section-about .section-inner {
  position: relative;
}
.section-about__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 56px;
  margin-bottom: 56px;
}
.section-about__text p {
  font-size: clamp(1.6rem, 1.464vw, 2rem);
}
.section-about__text p:not(:last-of-type) {
  margin-bottom: 20px;
}
.section-about__image {
  position: relative;
  width: min(100%, 340px);
  height: min(100%, 340px);
}
.section-about__image .profile-img {
  width: min(80%, 280px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url(../images/profile.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section-about .section-btn {
  margin: 0 auto 80px;
}
/* 制作物 */
#section-production {
  overflow: hidden;
}
.production-sp-img {
  display: none;
}
.section-production__list li:not(:last-of-type) {
  width: 100vw;
}
.section-production__image-scroll {
  width: 35.555vw;
  aspect-ratio: 629/536;
  background-image: url(../images/pc-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  transition: 0.3s;
}
.section-production__list .mock-up {
  width: 94%;
  height: 64%;
  border-radius: 2px;
  margin: 0 auto;
  transform: translateY(14px);
  background-size: 100%;
}
#mock-up1 {
  background-image: url(../images/production1-pc.jpg);
}
#mock-up2 {
  background-image: url(../images/production2-pc.jpg);
}
#mock-up3 {
  background-image: url(../images/production3-pc.jpg);
}
.side-scroll-item:hover .section-production__image-scroll {
  scale: 1.1;
}
.side-scroll-item:hover #mock-up1 {
  animation: scroll 30s linear infinite alternate;
}
.side-scroll-item:hover #mock-up2 {
  animation: scroll 38s linear infinite alternate;
}
.side-scroll-item:hover #mock-up3 {
  animation: scroll 10s linear infinite alternate;
}
@keyframes scroll {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
.section-production__list-title {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.section-production__point {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section-production__category {
  flex-direction: column;
  margin-top: 24px;
}
.section-production__period {
  width: clamp(100px, 11.127vw, 150px);
  height: clamp(100px, 11.127vw, 150px);
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-production__period h4 {
  font-size: clamp(1.4rem, 1.757vw, 2.4rem);
}
.section-production__period h4::after {
  content: "";
  display: block;
  background-color: var(--font-color);
  height: 1px;
  width: 32px;
  margin: 10px auto 10px auto;
}
.section-production__period span {
  font-size: clamp(1.6rem, 2.343vw, 3.2rem);
  line-height: 1;
}
.section-production__btn {
  display: block;
  width: 240px;
  padding: 12px 0;
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 2rem;
  line-height: 1;
  font-family: var(--font-c);
  position: relative;
  margin: 0 auto;
  background-image: url(../images/bg-01.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: left bottom 20%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: inset 2px 2px 7px rgb(175 165 165 / 40%), 3px 3px 5px rgb(175 165 165 / 15%);
  transition: 0.3s;
}
.section-production__btn::before,
.section-production__btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
  margin-right: 16px;
}
.section-production__btn::before {
  right: 0;
  width: 24px;
  height: 1px;
  background: var(--border-color);
  border-radius: 2px;
}
.section-production__btn::after {
  right: 1px;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--border-color);
  transform: rotate(20deg);
  top: 5.3px;
}
.side-scroll-item:hover .section-production__btn {
  box-shadow: inset 2px 2px 7px rgb(175 165 165 / 40%), 3px 3px 5px rgba(177, 175, 170, 0.8);
  transform: translateY(-2px);
}
.side-scroll {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 !important;
  transition: background-color 0.3s;
}
.side-scroll.color {
  background-color: var(--base-sub-color);
}
.side-scroll-list-wrapper {
  position: relative;
  width: 100%;
  height: 385.57px;
}
.side-scroll-container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 24px;
}
.side-scroll-list {
  display: flex;
  gap: 100px;
  position: absolute;
}
.side-scroll-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 56px;
  box-shadow: inset 2px 2px 7px rgb(133 114 115 / 40%), 3px 3px 5px rgb(133 114 115 / 15%);
  border-radius: 20px;
  position: relative;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--white-color);
  margin: 0 auto;
}
.side-scroll-item a {
  padding: 40px;
}
.section-production__list li:nth-of-type(2) .side-scroll-item {
  margin-top: 2%;
}
.section-production__list li:nth-of-type(3) .side-scroll-item {
  margin-top: 4%;
}
.side-scroll-item::before,
.side-scroll-item::after {
  position: absolute;
  top: 0;
  line-height: 1;
}
.side-scroll-item::before {
  font-family: var(--font-t);
  font-size: clamp(8rem, 8.785vw, 12rem);
  color: #f4f4f4;
  right: 32px;
  transform: translateY(-50%);
  -webkit-text-stroke: 1px var(--main-color);
  text-stroke: 1px var(--main-color);
}
.section-production__list li:nth-of-type(1) .side-scroll-item::before {
  content: "01";
}
.section-production__list li:nth-of-type(2) .side-scroll-item::before {
  content: "02";
}
.section-production__list li:nth-of-type(3) .side-scroll-item::before {
  content: "03";
}
.side-scroll-item::after {
  content: "Production";
  font-family: var(--font-p);
  font-size: 3.2rem;
  transform: translateY(-85%);
  right: 180px;
}
.section-production__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.section-production__backtext::before {
  content: "";
  position: absolute;
  bottom: -106px;
  left: 0;
  width: 100%;
  height: 385px;
  background-image: url(../images/Production.svg);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 2000px 385px;
  animation: flow-font 20s linear infinite;
  z-index: -1;
}
@keyframes flow-font {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0;
  }
}
.section-production__list li:last-of-type {
  display: flex;
  align-items: center;
  width: 56vw;
}
.section-production__list li:last-of-type div {
  background-color: var(--white-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: inset 2px 2px 7px rgb(175 165 165 / 40%), 3px 3px 5px rgb(175 165 165 / 15%);
  transition: 0.3s;
}
.production-allbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  text-transform: uppercase;
  font-family: var(--font-c);
  background-image: url(../images/bg-01.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: left bottom 20%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
  font-size: 3.2rem;
}
.production-allbtn::before,
.production-allbtn:after {
  content: "";
  position: absolute;
  margin: auto;
  content: "";
  vertical-align: middle;
  margin-right: 24px;
  transition: 0.3s;
}
.production-allbtn::before {
  bottom: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background: var(--border-color);
  border-radius: 2px;
}
.production-allbtn::after {
  bottom: 65.5px;
  right: 56px;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--border-color);
  transform: rotate(20deg);
}
.section-production__list li:last-of-type div:hover {
  scale: 1.1;
}
.production-allbtn:hover::before {
  transform: translateX(-40%);
}
.production-allbtn:hover::after {
  right: 52px;
}
/* お問い合わせ */
#section-contact {
  position: relative;
  padding: 80px 0;
}
#section-contact h2 {
  font-size: clamp(4rem, 5.857vw, 8rem);
  font-family: var(--font-c);
  color: var(--sub-color);
  transform: translateY(10px);
  display: flex;
  align-items: center;
  gap: 16px;
  background-image: url(../images/bg-01.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: left top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-contact h2::after {
  content: "";
  display: inline-block;
  background-image: url(../images/bg-01.jpg);
  background-position: center;
  width: 132px;
  height: 1px;
  vertical-align: middle;
}
.section-contact__mail-wrapper {
  width: min(80%, 1150px);
  margin: 0 auto;
}
.section-contact__mail-wrapper:hover .section-contact__mail {
  box-shadow: 0 10px 10px 0 rgba(177, 175, 170, 0.8);
  transform: translateY(-2px);
}

.section-contact__mail {
  border-radius: min(1.464vw, 20px);
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  aspect-ratio: 802/451;
  padding: 40px 0;
}
.section-contact__mail::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/noise.png);
  background-size: cover;
  z-index: 0;
}
.section-contact__mail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/mail-border.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.section-contact__mail h3 {
  font-size: clamp(2.4rem, 2.635vw, 3.6rem);
  font-family: var(--font-n);
  color: var(--white-sub-color);
  margin-top: 4.5vw;
  line-height: 1.6;
  z-index: 10;
}
.section-contact__mail p {
  font-size: 2rem;
  color: var(--white-sub-color);
  margin-bottom: 2vw;
  z-index: 10;
}
/* レスポンシブ */
@media not screen and (min-width: 1024px) {
  .section-top__copy {
    left: 50%;
  }
  #section-about .section-inner {
    position: static;
  }
  .section-about__container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
  }
  /* 制作物 */
  .production-sp-img {
    display: block;
  }
  .section-production__list-title {
    font-size: 2.4rem;
  }
  .section-production__image-scroll {
    width: auto;
    height: 100%;
    background-image: url(../images/sp.png);
    position: relative;
    aspect-ratio: 286/579;
  }
  .side-scroll-list li:nth-child(1) .section-production__image-scroll::after {
    content: "画面の中をスクロールできます";
    position: absolute;
    left: 50%;
    top: -12px;
    font-size: 1rem;
    display: block;
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .side-scroll-item {
    width: min(75%, 600px);
    height: 80vh;
  }
  .side-scroll-item a {
    height: 80%;
  }
  .section-production__info-wrapper {
    gap: 4.353vh 20px;
    justify-content: center;
    height: 75%;
  }
  .section-production__point {
    flex-direction: row;
    gap: 24px;
  }
  .section-production__btn {
    display: none;
  }
  .section-production__category {
    margin-top: 0;
    gap: 10px;
  }
  .side-scroll-item::after {
    right: 132px;
  }
  .section-production__image-scroll::before {
    content: "";
    background-image: url(../images/sp-parts.png);
    display: inline-block;
    width: 80px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  .section-production__list .mock-up {
    background-image: none !important;
    transform: translateY(1vh);
    width: 21.5vh;
    height: 96%;
    border-radius: 2.6vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .section-production__list .mock-up::-webkit-scrollbar {
    display: none;
  }
  .side-scroll-item:hover .mock-up {
    animation: normal;
  }
  .section-production__list li:nth-of-type(2) .side-scroll-item,
  .section-production__list li:nth-of-type(3) .side-scroll-item {
    margin-top: 0;
  }
  .section-production__list li:last-of-type {
    width: 100vw;
    display: grid;
    place-items: center;
  }
  /* お問い合わせ */
  #section-contact h2 {
    transform: translateY(4px);
    margin: 0 auto;
  }
  .section-contact__mail-wrapper {
    margin-bottom: 24px;
  }
  .section-contact__mail h3 {
    margin-top: 0;
  }
  #section-contact p.sp-only {
    width: fit-content;
    margin: 0 auto;
  }
}

@media not screen and (min-width: 600px) {
  #section-top h2 {
    font-size: min(12.267vw, 4.6rem);
    letter-spacing: 1rem;
  }
  .section-top__animation {
    width: min(43.924vw, 232px);
    height: min(13.177vw, 70px);
  }
  .section-top__animation {
    bottom: -20px;
  }
  .section-top__copy {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-production__info-wrapper {
    gap: 4vh 20px;
  }
  .side-scroll-item {
    width: min(86%, 400px);
    height: 70vh;
  }
  .section-production__list .mock-up {
    transform: translateY(0.8vh);
    width: 19vh;
  }
  .section-production__category span {
    font-size: clamp(1.6rem, 3vw, 1.8rem);
    width: 125px;
  }
  .section-production__period {
    width: 80px;
    height: 80px;
  }
  .section-production__period h4::after {
    margin: 5px auto 5px auto;
  }
  .section-contact__mail,
  .section-contact__mail-wrapper {
    width: 100%;
  }
  .section-contact__mail {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (prefers-color-scheme: dark) {
  #section-top h2,
  #section-contact h2,
  .section-production__btn,
  .production-allbtn {
    background-image: url(../images/bg-dark-01.jpg);
  }
  .section-production__backtext::before {
    background-image: url(../images/Production-dark.svg);
  }
  .side-scroll-item,
  .section-production__list li:last-of-type div {
    background-color: var(--base-color);
  }
  .side-scroll.color {
    background-color: #4b4b4b;
  }
  .section-production__category span {
    background-color: var(--base-sub-color);
  }
  .section-production__period {
    border: 1px solid var(--white-color);
  }
  .section-production__btn {
    border: 1px solid var(--base-sub-color);
  }
  .section-contact__mail {
    background-color: var(--base-sub-color);
  }
  .section-contact__mail::before {
    background-image: url(../images/noise-dark.png);
    opacity: 0.3;
  }
  .section-contact__mail-wrapper:hover .section-contact__mail {
    box-shadow: inset 2px 2px 7px rgb(133 114 115 / 40%), 3px 3px 5px rgb(133 114 115 / 15%);
  }
  .section-about__image .profile-img {
    filter: saturate(30%) brightness(90%);
  }
  .scrolldown::after {
    background-color: var(--border-color);
  }
}
